# Built files
*.cs3
*.apk
*.aab
*.dex
*.class

# Ignore jars except gradle wrapper
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Gradle
.gradle/
build/
*/build/
local.properties

# IDE
.idea/
*.iml
.DS_Store
*.swp
*.swo

# Kotlin
*.kotlin_module

# Android
/captures
.externalNativeBuild/
.cxx/
