name: Build

on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - '*.md'
      - 'repo.json'
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: "build"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: "src"

      - name: Checkout builds
        uses: actions/checkout@v5
        with:
          ref: "builds"
          path: "builds"

      - name: Clean old builds
        run: |
          rm $GITHUB_WORKSPACE/builds/*.cs3 || true
          rm $GITHUB_WORKSPACE/builds/*.jar || true
          rm $GITHUB_WORKSPACE/builds/plugins.json || true

      - name: Setup JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: adopt
          cache: gradle

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3.2.2

      - name: Build plugins
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew make makePluginsJson
          cp **/build/*.cs3 $GITHUB_WORKSPACE/builds/ || true
          cp **/build/*.jar $GITHUB_WORKSPACE/builds/ || true
          cp build/plugins.json $GITHUB_WORKSPACE/builds/

      - name: Push builds
        run: |
          cd $GITHUB_WORKSPACE/builds
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "Build: ${{ github.sha }}" || exit 0
          git push origin builds
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
